# default configuration - won't be overriden
exactly.api.token=AkJ31sdyg0OlPuOxmAYdU6iftFa0qF2pIvjbY06TC12aZRWF
exactly.api.baseUrl=https://api.exactly.ai
exactly.api.path=public
exactly.api.version=v1